* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --color-body: #fff;
    --color-text-primary: #212529;
    --color-text-description: #868E96;
    --color-text-light: #B8BDC1;
    --color-text-lighter: #CED4DA;
    --color-info: #E9ECEF;
    --color-info-dark: #DEE2E6;
    --color-info-light: #F1F3F5;
    --color-form-border: #CED4DA;
    --color-form-active-shadow: #ebedf0;
    --color-form-placeholder: #ADB5BD;
    --color-primary: #EF233C;
    --color-primary-dark: #D81D33;
    --color-primary-lighter: #FFF4F6;
    --color-secondary: #3BC9DB;
    --color-secondary-dark: #15AABF;
    --color-secondary-lighter: #E3FAFC;
    --color-success: #12B886;
    --color-success-dark: #099268;
    --color-success-lighter: #E6FCF5;
    --color-danger: #F03E3E;
    --color-danger-dark: #C92A2A;
    --color-danger-light: #FFF5F5;
    --color-warning: #FD7E14;
    --color-warning-dark: #E8590C;
    --color-warning-lighter: #FFF4E6;
    --color-review: #FFD43B;
    --color-review-dark: #FCC419;
    --color-review-lighter: #FFF9DB;
    --color-gradient-1: linear-gradient(45deg, rgb(239, 35, 60) 0%, rgb(244, 113, 3) 100%);
}

/* .site-header .header-topbar .header-inner {
    height: 42px;
    border-color: #E9ECEF;
}
.site-header .header-inner {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-color: inherit;
    width: 100%;
    z-index: 1;

}
.site-header .header-topbar {
    font-size: 12px;
    color: #212529;
    background-color: #fff;
    border-color: #E9ECEF;
    z-index: 10;
} */
.sec-nav {
display: flex;
justify-content: space-between;
font-size: 12px;
color: #212529;
background-color: #fff;
border-color: #E9ECEF;
height: 42px;
margin-left: 40px;
margin-right: 40px;
padding-top: 20px;
padding-bottom: 20px;
}

.nav-link1 ul {
display: flex;
gap: 2rem;


}