/* *{
    color: pink;
} */

* {
box-sizing: border-box;
}
nav{
    display: flex;
    margin-bottom: 50px;
    background-color: rgb(128,128, 128);
    padding: 20px;
    position: sticky;
    top: 0px;
}
.menu{
    margin-left: 50%;
}
ul{
    display: flex;
}q
.menu ul li{
    list-style-type: none;
    padding-left: 30px;
}
.menu ul li a{
    text-decoration: none;
}
.show {
width: 30%;
border: solid black 2px;
padding: 20px;
}
.state {
    width: 80%;
    border: solid black 2px;
    padding: 20px;
    display: none;
}
.show:hover .state{
    display: block;
}

.container>P{
    color: brown;
}
.article p{
    color: aqua;
}
.news>p{
    color: orangered;
}
.aside p{
color: orchid;
}
input[id='address']{
    background-color: purple;
}
.action button{background-color: grey;
color: white;
padding: 10px;
border: none;
margin-top: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.2em;
cursor: pointer;
}
.action button:hover{
    background-color:blue;
    padding: 15px;
    border: none; 
    border-radius: 4px;
    margin-top: 20px;
    transition: 500ms;
}
.bg{ background-image:url(../IMG/img_girl.jpg);
    height: 900px;
    background-repeat: no-repeat;
    width: 90%;
    margin-left: 5%;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 100px;

}
.sizing {
border: solid black;
padding: 20px;
background-image:url(../IMG/img_girl.jpg);
height: 500px;
background-repeat: no-repeat;
width: 50%;
margin-left: 5%;
background-size: 50%;
background-attachment: fixed;
background-position: 100px;
}